/* Currently, the <li> items are block level elements. Add correct styles to remove the bullets and display them as inline elements. */
ul.top li {
  list-style: none;
  display: inline;
}

/* The three <span> elements should be displayed as block elements with a 1 pixel border and 25 pixel margin on all sides. */
span.inline {
  display: block;
  border: 1px solid black;
  margin: 25px;
}

/* In the article element with the class n-child, add a 1 pixel border around every even numbered section element. */
.n-child section:nth-of-type(even) {
  border: 1px solid black;
}

/* Change the top ul content to be displayed inline, with a comma between the three numbers. */
li.block:not(:last-child):after {
  content: ",";
  display: inline;
}
/* In the article element with the class n-type, make each odd section's font color blue. */
article.n-child section:nth-of-type(odd) {
  color: blue;
}

/* In the article element with the class first-of-type, make the first aside element's background color lime. */


/* In the article element with the class first-of-type, make the first section element's background color purple. */
/* In the article element with the class three, give each section a background color of orange. */
/* In the article element with the class three, give the first child element, regardless of type, a background color of goldenrod. */
/* In the article element with the class three, give the last child element, regardless of type, a background color of darkslategray. */
/* Give each article element a title of "Article parent element", a dashed gray border, and a background color of royalblue. Also ensure that it spans the entire length of the document. */